/*grundopsætning for vores body i html og behøves ikke at blive kaldt på i html*/
html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*sløret baggrundsbillede og genbrugt davids billedeformat for opsætning*/
.baggrundsbillede {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
}

/*bokse der indeholder artikler som vist i prototypen for at holde en ren struktur og brugervenlig design, bliver brugt til at skabe afstand mellem hinanden og antal bokse der skal vises for hver række*/
.artikelboks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
}

/*bruges til at designe vores bokse enkeltvis hvis nødvendigt*/
.artikel {
    display: block;
    background-color: rgba(200, 200, 200, 0.2);
    color: black;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dato {
    float: right;
    font-size: 0.9em;
    color: #666;
}

.artikel:hover {
    background-color: #4fc105;
    color: black;
}