<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artikler om madspild</title>
    <link rel="stylesheet" href="styles.css" >
</head>
<body>

    <div class="baggrundsbillede"><img src="/pictures/vegetables.jpg" alt="madspild"> </div>

    <main>

        <div class="artikelboks">

    <!--Artikel 1-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>


    <!--Artikel 2-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>

    <!--Artikel 3-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>

    <!--Artikel 4-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>

    <!--Artikel 5-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>

    <!--Artikel 6-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>

    <!--Artikel 7-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>

    <!--Artikel 8-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>

    <!--Artikel 9-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>

    <!--Artikel 10-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>

    <!--Artikel 11-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>

    <!--Artikel 12-->
    <a href="https://foedevarestyrelsen.dk/kost-og-foedevarer/alt-om-mad/madspild-i-hjemmet/saadan-undgaar-du-madspild-hjemme" target="_blank" class="artikel">
        Begræns dit madspild hjemme
        <span class="dato">15/01/2025</span>
    </a>
    </div>
    </main>

</body>
</html>